@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

html {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

@theme inline {
    --text-xs: 0.75rem;
    --text-xxs: 0.625rem;
    --text-xxxs: 0.5rem;

    --breakpoint-3xl: 128rem;

    --color-x-main-50: var(--color-zinc-50);
    --color-x-main-100: var(--color-zinc-100);
    --color-x-main-200: var(--color-zinc-200);
    --color-x-main-300: var(--color-zinc-300);
    --color-x-main-400: var(--color-zinc-400);
    --color-x-main-500: var(--color-zinc-500);
    --color-x-main-600: var(--color-zinc-600);
    --color-x-main-700: var(--color-zinc-700);
    --color-x-main-800: var(--color-zinc-800);
    --color-x-main-900: var(--color-zinc-900);
    --color-x-main-950: var(--color-zinc-950);
    --color-x-main-text: var(--color-x-main-100);
    --color-x-main-text-muted: var(--color-x-main-400);
    --color-x-main-text-supermuted: var(--color-x-main-600);

    --color-x-main-bg-1: var(--color-x-main-950);
    --color-x-main-bg-2: var(--color-x-main-900);
    --color-x-main-bg-3: var(--color-x-main-800);
    --color-x-main-bg-4: var(--color-x-main-700);
    --color-x-main-bg-5: var(--color-x-main-600);

    --color-x-warn-50: var(--color-yellow-50);
    --color-x-warn-100: var(--color-yellow-100);
    --color-x-warn-200: var(--color-yellow-200);
    --color-x-warn-300: var(--color-yellow-300);
    --color-x-warn-400: var(--color-yellow-400);
    --color-x-warn-500: var(--color-yellow-500);
    --color-x-warn-600: var(--color-yellow-600);
    --color-x-warn-700: var(--color-yellow-700);
    --color-x-warn-800: var(--color-yellow-800);
    --color-x-warn-900: var(--color-yellow-900);
    --color-x-warn-950: var(--color-yellow-950);
    --color-x-warn-text: var(--color-yellow-300);

    --color-x-err-50: var(--color-red-50);
    --color-x-err-100: var(--color-red-100);
    --color-x-err-200: var(--color-red-200);
    --color-x-err-300: var(--color-red-300);
    --color-x-err-400: var(--color-red-400);
    --color-x-err-500: var(--color-red-500);
    --color-x-err-600: var(--color-red-600);
    --color-x-err-700: var(--color-red-700);
    --color-x-err-800: var(--color-red-800);
    --color-x-err-900: var(--color-red-900);
    --color-x-err-950: var(--color-red-950);
    --color-x-err-text: var(--color-x-err-300);

    --color-x-brand-50: var(--color-emerald-50);
    --color-x-brand-100: var(--color-emerald-100);
    --color-x-brand-200: var(--color-emerald-200);
    --color-x-brand-300: var(--color-emerald-300);
    --color-x-brand-400: var(--color-emerald-400);
    --color-x-brand-500: var(--color-emerald-500);
    --color-x-brand-600: var(--color-emerald-600);
    --color-x-brand-700: var(--color-emerald-700);
    --color-x-brand-800: var(--color-emerald-800);
    --color-x-brand-900: var(--color-emerald-900);
    --color-x-brand-950: var(--color-emerald-950);
}
